identity-sys-api/src/main/mule/mytrains-okta-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="98985e3c-2e37-4246-949a-cff72a114465" basePath="/api/v1" >
		<http:request-connection host="dev-536244.okta.com" protocol="HTTPS"/>
	</http:request-config>
	<json-logger:config name="JSON_Logger_Config" doc:name="JSON Logger Config" doc:id="be737e32-c2a0-4180-842e-68d6dce30357" applicationVersion="1.0.0-SNAPSHOT" environment="dev" applicationName="identity-sys-api"/>
	<flow name="Getuser-flow" doc:id="f25f8870-9d39-4f98-81ce-b81c266459dd" >
		<json-logger:logger doc:name="Logger" doc:id="e386121d-725f-40a4-9573-135e57b8263d" config-ref="JSON_Logger_Config" message="get registered user"/>
		<http:request method="GET" doc:name="Request" doc:id="23fa4098-b32c-496a-b30b-dcc93c867809" config-ref="HTTP_Request_configuration" path="/users/{userId}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS 00y5UGd3fC0uubbW_Zc58kpsOzXTv481b2lzXksikg"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"userId" : vars.userID
}]]]></http:uri-params>
		</http:request>
		<json-logger:logger doc:name="Logger" doc:id="b81d5a80-c734-4123-b8e9-eba6c2045ad2" config-ref="JSON_Logger_Config" message="registerd users"/>
	</flow>
	<flow name="Createuser" doc:id="9706b002-d9d5-482d-9f2b-b4d1f8ea1ce5" >
		<json-logger:logger doc:name="Logger" doc:id="54e6f276-37c2-436f-b844-61730f83a07c" config-ref="JSON_Logger_Config" message="okta create user flow started"/>
		<ee:transform doc:name="Transform Message" doc:id="abf80ed5-ceda-4fdb-b2f6-77ef587023de">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	profile: {
		firstName: payload.profile.firstName,
		lastName: payload.profile.lastName,
		email: payload.profile.email,
		login: payload.profile.login
	},
	credentials: {
		password: {
			value: payload.credentials.password.value
		},
		recovery_question: {
			question: payload.credentials.recoveryQuestion.question,
			answer: payload.credentials.recoveryQuestion.answer
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="4c379be9-90bb-447a-a631-d8ae7871657a" config-ref="HTTP_Request_configuration" path="/users?activate=true" responseTimeout="300000">
			<error-mapping sourceType="HTTP:BAD_REQUEST" targetType="USER:DUPLICATE" />
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS 00y5UGd3fC0uubbW_Zc58kpsOzXTv481b2lzXksikg"
}]]]></http:headers>
		</http:request>
		<json-logger:logger doc:name="Logger" doc:id="d1e1a8cc-b0d7-456c-afd1-18efd6f4f2c5" config-ref="JSON_Logger_Config" message="okta create flow successful"/>
	</flow>
	<flow name="changepassword" doc:id="0fb2db3f-c2d1-41ad-b05b-398ebd4fbd58" >
		<json-logger:logger doc:name="Logger" doc:id="8bc6a3a3-fd73-46ba-ba68-b8d46dde269d" config-ref="JSON_Logger_Config" message="okta change password flow"/>
		<set-variable value="#[message.payload.userId]" doc:name="Set Variable" doc:id="a7b66e61-9df2-4a57-a172-020dab9fb3d3" variableName="emailid" />
		<ee:transform doc:name="Transform Message" doc:id="76fdccf7-9fe3-4a58-b6c4-2b85c1d0b145" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	
	oldPassword: {
		value: payload.oldPassword.value
	},
	newPassword: {
		value: payload.newPassword.value
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="71305429-d758-4a09-9cd0-440ec0f7306a" config-ref="HTTP_Request_configuration" path="/users/{userId}/credentials/change_password" target="userresponse" responseTimeout="300000">
			<error-mapping targetType="USER:USER" />
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS 00y5UGd3fC0uubbW_Zc58kpsOzXTv481b2lzXksikg"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"userId" : vars.emailid
}]]]></http:uri-params>
		</http:request>
		<json-logger:logger doc:name="Logger" doc:id="4de2e31a-e26f-4002-9df6-2121e20c5ba4" config-ref="JSON_Logger_Config" message="okta change password flow successful"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9d1c6c9b-e0be-4bf6-99c1-a268ecbfd007" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="aad132bc-c5c1-47ab-af5a-d8531c5830d8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	status: "error",
	errormessage: error.description,
	errortype: error.errorType.identifier
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="forgetuserpassword" doc:id="58c61135-12e8-4506-a306-c87d22b09cb7" >
		<ee:transform doc:name="Transform Message" doc:id="5cdfc5dc-f7a7-44fc-add8-59c17e125a90" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	password: {
		value: payload.password.value
	},
	recovery_question: {
		answer: payload.recovery_question.answer
	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="18d7c45b-c349-44c7-886b-dbef99da54fa" config-ref="HTTP_Request_configuration" path="/users/{userId}/credentials/forgot_password?sendEmail=false" responseTimeout="300000">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS 00y5UGd3fC0uubbW_Zc58kpsOzXTv481b2lzXksikg"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/json
---
{
	"userId" : payload.userId
}]]]></http:uri-params>
		</http:request>
		<json-logger:logger doc:name="Logger" doc:id="1be4f177-70f7-40e5-8690-f78f29105998" config-ref="JSON_Logger_Config" message="forget password flow completed"/>
	</flow>
	<flow name="authenticate-userflow" doc:id="072ccbfd-8f16-4840-afa3-49c7a05642e1" >
		<json-logger:logger doc:name="Logger" doc:id="2175b806-199f-4d28-80b6-e94eeb0ac4be" config-ref="JSON_Logger_Config" message="okta login flow started"/>
		<ee:transform doc:name="Transform Message" doc:id="f5bcd24c-8057-4606-b788-725c6ce6c410" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	username: payload.username,
	password: payload.password
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="14620817-5e4b-4092-a622-be997e23e73a" config-ref="HTTP_Request_configuration" path="/authn">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS 00y5UGd3fC0uubbW_Zc58kpsOzXTv481b2lzXksikg"
}]]]></http:headers>
		</http:request>
		<json-logger:logger doc:name="Logger" doc:id="2cc6e9c7-6343-4fa8-84a8-0e08566f2285" config-ref="JSON_Logger_Config" message="okta login flow completed"/>
	</flow>
</mule>
